<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Здравствуйте, <%= @user.name %>!</h1>
    <p>
      Вы успешно совершили заказ в нашем зоомагазине.
    </p>
    <p>
      Если вы не знаете, почему вам пришло данное письмо - возможно, кто-то использует вашу почту без вашего ведома. Обратитесь в нашу службу поддержки.
    </p>

  </body>
</html>
