<h1 style="font-size: 18px; margin: 10px; color: blue;">Как нас найти?</h1>

<div style="font-size: 14px; margin: 10px; width: 650px;">
  Мы находимся по адресу Сулимова, 42,<br>
  И работаем без выходных с 10:00 до 21:00
</div>
<%= image_tag("map_1.png", size: "700x350")  %>

<h1 style="font-size: 18px; margin: 10px; color: blue;">Как с нами связаться?</h1>
<div style="font-size: 14px; margin: 10px; width: 650px;">
  Наш телефон: +7-950-546-20-85<br>
  Наш e-mail: e-mail<br>
  Наш Viber: e-mail<br>
  Наш WhatsApp: e-mail<br>
</div>

<script>
  $("#about_main").css("background-color", "Green");
</script>
