<h1 style="font-size: 18px; margin: 10px; color: blue;">Оплата</h1>
<div style="font-size: 14px; margin: 10px; width: 650px;">
  На данный момент на сайте отсутствует возможность безналичной оплаты, мы планируем добавить её в самое ближайшее время (как и многое другое).<br>
  Вы сможете оплатить покупку курьеру в момент доставки.
</div>

<h1 style="font-size: 18px; margin: 10px; color: blue;">Доставка</h1>
<div style="font-size: 14px; margin: 10px; width: 650px;">
  Мы доставляем ваши покупки по городу Екатеринбургу при помощи своей курьерской службы.<br>
  Как только мы добавим возможность безналичного расчета онлайн, вы сможете получать свои товары по всей стране, посредством Почты России, либо специализированных служб доставки (CDEK и подобные).
</div>

<script>
  $("#logist_main").css("background-color", "Green");
</script>
